

    <h1 class="display-4">Trabajo para casa de <%=@curso.name%> curso</h1>
    

<%@trabajos.each do |t|%>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/homework1.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=Asignatura.find(t.asignatura).name%></h5>
    <p class="card-text"><%=t.titulo%></p>
    <p class="card-text"><%=t.descripcion%></p>    
    <p class="card-text"><%=t.date.strftime("%d-%m-%Y")%></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<%end%>



