<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Asignatura</th>
			<th scope="col">Paginas</th>
			<th scope="col">Ejercicios</th>
			<th scope="col">Nota</th>
			<th scope="col">Fecha</th>
		</tr>
	</thead>
	<tbody>

		<%trabajos.each do |t|%>
		<tr>
			<th scope="row"><img class="" src="/images/<%=Asignatura.find(t.asignatura).image%>" width="50px"> <%= Asignatura.find(t.asignatura).name%></th>
			<td colspan="1"><%= t.titulo%></td>
			<td><%= t.descripcion%></td>
			<td><%= t.notas%></td>
			<td><%= t.date.strftime("%A, %d-%b-%Y")%></td>
		</tr>
		<%end%>
	</tbody>
</table>
